* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
}

#inputs {
  display: grid;
  grid-template-columns: 1fr;
}

div {
  margin: 0 auto;
  min-width: 320px;
  max-width: 500px;
  background-color: aqua;
}

table {
  width: 100%;
  font-size: 2rem;
}

table tbody tr td {
}

input {
  text-align: center;
  width: 50%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  height: 10rem;
}
